.blackStroke, .media-heading {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.title-page .blackStroke {
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

.text-red {
    color: #ba0025;
}

.text-cyan {
    color: cyan;
}

.profile {
    width: 147px;
    height: 130px;
    margin-bottom: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.home-logo {
    display: block;
    margin: auto;
    width: 35%;
}