#p1 {
  color: green;
  font-size: xx-large;
  text-align: center;
}

h1 {
  color: red;
  margin-left: 40px;
}

p.center {
  text-align: center;
  color: blue;
  font-style: italic;
  font-variant: small-caps;
}

p.large {
  font-size: 150%;
}

.abc {
  text-align: left;
  color: cyan;
  font-style: bold;
}

p.border {
  border-style: dotted;
  border-width: 2px;
  border-color: orange;
}
